# Ignore production files
.idea
*.iml

# Ignore large project files
library/models/*

# Ignore test files
cognition/tests/*
memory/tests/*
network/tests/*

# Ignore secrets
cognition/kb/cognition_secret.yaml
memory/kb/memory_secret.yaml
network/kb/network_secret.yaml

# Ignore logs
system/logs/northbound_log.txt
system/logs/southbound_log.txt

# Ignore misc files
NAI.md
cognition/src/independent_mod/agent_persona.py