# Ignore .idea and cache files
/shelf/
/.idea/*
/workspace.xml

# Ignore project files
library/*
cognition/src/independent_mod/agent_persona.py

# Ignore test files
cognition/tests
memory/tests
network/tests

# Ignore secrets
cognition/kb/cognition_secret.yaml
memory/kb/memory_secret.yaml
network/kb/network_secret.yaml